body {
  overflow-x: hidden;
}

/* ***********************Head Start******************* */
.logo-img{
  width: 120px;
  margin-left: 50px;
}
.pad{
  background-color: rgb(39, 43, 61);
  padding: 10px 0 10px 0;
}
.con{
  margin: 0;
  padding: 0;
}
.con-1{
  float: right;
}
.con li {
  float: left;
  list-style: none;
}
.con li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
  /* text-align: center; */
}
.con li :last-child{
  padding-left: 10px;
}

#fa{
  color: #329E78; font-size: 11px; display: inline-block;  padding: 6px;
}

/* *************dropdown menubar************** */
.navbar {
  padding: 10px !important;
  -webkit-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  -moz-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
}

ul.dropdown-menu {
  width: 17vw;
  border-radius: 0px;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 16px;
  text-decoration: none;
  padding: 0px;
  list-style-type: none;
  -webkit-animation: mymove 0.5s;
  animation: mymove 0.5s;
  background-color: #fff;
  -webkit-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  -moz-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
}

li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.dropdown-menu li:hover a {
  color: #ec5626;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display: block;
}

.dropdown-menu li a {
  color: #444;
  text-decoration: none;
  text-transform: capitalize;
}

@keyframes mymove {
  from {
    left: 100px;
    height: 0px;
    opacity: 0;
    border-bottom: 0px;
  }

  to {
    height: auto;

  }
}

.navbar-nav a.nav-link {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 0px !important;
  font-size: 13px;
}

ul.navbar-nav li.nav-item {
  /* margin: 0 20px; */
  padding-left: 30px;
}

ul.navbar-nav .nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
  width: 100%;
  background: rgb(39, 43, 61);
}

/* ***************dropdown menubar end************** */

/* <!-- *******************Find Category************** --> */

#fa-1{
  color: rgba(41, 16, 39, 0.692); font-size: 50px; display: inline-block;  padding: 10px; position: relative; top: 17px;
}
.bg {
  font-family: Arial, sans-serif;
  background: url(service.jpg) no-repeat;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  height: 300px;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: rgb(39, 43, 61);;
  margin: 80px 0;
  padding:20px;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(9, 23, 54, 0.288);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button-1 {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid rgb(48, 13, 80);;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: rgba(18, 121, 86, 0.623);
}
.button:hover {
  background: rgba(30, 224, 160, 0.623);;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: rgba(70, 34, 112, 0.466);
  color: white;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 95%;
  }
  .popup{
    width: 90%;
  }
}
/* <!-- *******************Find Category end************** --> */

/* Selectric Dropdown */

/* .img-btn{
  text-align: center;
    background-color: transparent;
    border: 0;
    padding: 20px 5px;
    border-radius: 0;
    transition: all .3s ease-in-out;
    transition-property: all;

}
.btn{
  user-select: none;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
} */
.selectric-wrapper {
  margin: 40px auto;
  width: 50%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url(./ajax-loader.gif) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide img.slick-loading {
  background: white url(./ajax-loader.gif) center center no-repeat;
  padding-bottom: 100%;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: rgb(139, 9, 74) !important;  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
.slick-prev:before {
  content: '\2190';
}

.slick-next {
  right: -25px;
}
.slick-next:before {
  content: '\2192';
}

/* Dots
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
} */

.content {
  width: 80%;
  margin: auto;
}
.bg-c{
  -webkit-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  -moz-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
}
/* 
.main, html {
  background: #2b2b2b;
  color: #fff;
} */
/* .main h3, html h3 {
  color: #eee;
  font-size: 18px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
  border: 1px solid #999;
} */

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
/* .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
} */

.category {
  position: relative;
  padding: 10px;
  text-align: center;
}
.category h6{
  margin-top: 10px;
}
.category img{
  /* width: 60px; */
  height: 60px;
  text-align: center;
  margin-left: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27%;
}
/* .category .show-more-link {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.category .show-more {
  display: none;
  position: absolute;
  width: 80%;
  height: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background: #cccccc;
}
.category .show-more p {
  width: 80%;
  float: left;
  color: white;
}
.category .show-more .close {
  width: 20%;
  float: left;
  color: red;
} */



.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/* ******************end******************* */


/* ********************* What make us Special ********************* */
.img-special{
  width: 56px;
}
/* ********************* What make us Special end ********************* */


/* ********************* slider********************* */


input.set { display:none; }

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-100%; }
#slide3:checked ~ .mask .overflow { margin-left:-200%; }
#slide4:checked ~ .mask .overflow { margin-left:-300%; }

#slides { margin:50px auto; width:80%; position:relative; }

#slides .mask { width:100%; overflow:hidden; margin:auto; }

#slides .overflow { width:400%; -webkit-transform:translateZ(0); -webkit-transition:all 0.5s ease-out; -moz-transition:all 0.5s ease-out; -o-transition:all 0.5s ease-out; transition:all 0.5s ease-out; }

#slides .slide { width:25%; height:300px; line-height:200px; float:left; background:#fff; }

#controls { width:100%; }

#controls label { display:none; width:5%; height:60px; opacity:0.3; position:absolute; top:50%; margin-top:-30px; cursor:pointer; background:#000; }

#controls label:hover { opacity:0.8; }

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { right:0; display:block; }

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { left:0; display:block; }
/* ********************* slider End********************* */

/* <!-- **********************Recommended Start********************* -->	 */
a:link{
  text-decoration: none;
}
.productCardContainer{
  padding: 5px;
}
.productCardContent{
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #272B3D;
  background: #0050a0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.productCardContent .productCardImage{
  height: 200px;
  position: relative;
  overflow: hidden;
}
.productCardContent .productCardImage img{
  position: relative;
  display: block;
  min-height: 200px;
  min-width: 100%;
  max-width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.productCardContent:hover .productCardImage img{
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.productCardContent .productCardImage .imageCardEffect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  text-indent: 9999px;
}
.productCardContent .productCardImage .imageCardEffect::before,
.productCardContent .productCardImage .imageCardEffect::after{
    pointer-events: none;
}
.productCardContent .productCardImage .imageCardEffect::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;

    -webkit-transform: rotate(45deg) scale(2) translate(0px, -100%);
    -moz-transform: rotate(45deg) scale(2) translate(0px, -100%);
    -o-transform: rotate(45deg) scale(2) translate(0px, -100%);
    -ms-transform: rotate(45deg) scale(2) translate(0px, -100%);
    transform: rotate(45deg) scale(2.5) translate(0px, -100%);
}
.productCardContent:hover .productCardImage .imageCardEffect::before {
    -webkit-transform: rotate(45deg) scale(2) translate(0px, 100%);
    -moz-transform: rotate(45deg) scale(2) translate(0px, 100%);
    -o-transform: rotate(45deg) scale(2) translate(0px, 100%);
    -ms-transform: rotate(45deg) scale(2) translate(0px, 100%);
    transform: rotate(45deg) scale(2.5) translate(0px, 100%);
}

/*======================== Card Details Style */
.productCardDetails{
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.productCardDetails .productCardModel{
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 20px 20px 10px 20px;
}
.productCardDetails .productCardModel a:link, .productCardDetails .productCardModel .accessoryDesc{
    color: #272B3D;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: block;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.productCardDetails .productCardModel a span, .productCardDetails .productCardModel .accessoryDesc span{
    font-size: 18px;
    display: block;
}
.productCardDetails .productCardModel a span b, .productCardDetails .productCardModel .accessoryDesc span b{
    font-size: 12px;
    font-weight: normal;
}
.productCardContent:hover .productCardDetails .productCardModel a, .productCardContent:hover .productCardDetails .productCardModel .accessoryDesc{
    color: white;
}
.modelCardEffect{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.productCardContent .productCardDetails .modelCardEffect::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272B3D;
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;

    -webkit-transform: skew(40deg, 0deg) translate(-150%, 0px);
    -moz-transform: skew(40deg, 0deg) translate(-150%, 0px);
    -o-transform: skew(40deg, 0deg) translate(-150%, 0px);
    -ms-transform: skew(40deg, 0deg) translate(-150%, 0px);
    transform: skew(40deg, 0deg) translate(-150%, 0px);
}
.productCardContent:hover .productCardDetails .modelCardEffect::before {
    -webkit-transform: skew(0deg, 0deg) translate(0%, 0px);
    -moz-transform: skew(0deg, 0deg) translate(0%, 0px);
    -o-transform: skew(0deg, 0deg) translate(0%, 0px);
    -ms-transform: skew(0deg, 0deg) translate(0%, 0px);
    transform: skew(0deg, 0deg) translate(0%, 0px);
}
.productCardContent .productCardDetails .productCardDetailsList {
    position: relative;
    height: 150px;
}
.productCardContent .productCardDetails .productCardDetailsList .list-group{
    margin-bottom: 0!important;
}
.productCardContent .productCardDetails .productCardDetailsList .list-group .list-group-item{
    color: #272B3D !important;
}
.productCardContent .productCardDetails .productCardDetailsList .list-group .list-group-item .detailIcon{
    position: relative;
    width: 40px;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
}
.productCardContent .productCardDetails .productCardDetailsList .list-group .list-group-item .detailInfo{
    display: table-cell;
    vertical-align: middle;
}
.productCardContent .productCardDetails .accessoryCardDetailsList {
    position: relative;
    height: 50px;
}
.productCardContent .productCardDetails .accessoryCardDetailsList .list-group{
    margin-bottom: 0!important;
}
.productCardContent .productCardDetails .accessoryCardDetailsList .list-group .list-group-item{
    color: #272B3D !important;
}
.productCardContent .productCardDetails .accessoryCardDetailsList .list-group .list-group-item .detailIcon{
    position: relative;
    width: 40px;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
}
.productCardContent .productCardDetails .accessoryCardDetailsList .list-group .list-group-item .detailInfo{
    display: table-cell;
    vertical-align: middle;
}

.productCardContent .productCardPrice{
    position: relative;
    text-align: center;
}
.productCardContent .productCardPrice a, .productCardContent .productCardPrice button{
    border: none !important;
    width: 40%;
    margin: 4% !important;
    padding: 0 !important;
    text-align: center;
    line-height: 35px;
    background: transparent;
    color: #272B3D;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}
.productCardContent:hover .productCardPrice a, .productCardContent:hover .productCardPrice button {
    background: #272B3D;
    color: white;
}
.productCardPrice a:hover, .productCardPrice a:focus, .productCardPrice a:hover, .productCardPrice button:focus{
    background: white;
    color: #272B3D;
}
.productCardContent .productCardPrice .inCart, .productCardPrice .inCart:focus{
    color: #272B3D !important;
    background: #81c868 !important;
}
.accessoryAdminCard{
    background: #FFFFFF;
    padding: 10px;
}
/* <!-- **********************Recommended end********************* -->	 */