body {
  overflow-x: hidden;
}

/* ***********************Head Start******************* */
.logo-img{
  width: 120px;
  margin-left: 50px;
}
.pad{
  background-color: rgb(39, 43, 61);
  padding: 10px 0 10px 0;
}
.con{
  margin: 0;
  padding: 0;
}
.con-1{
  float: right;
}
.con li {
  float: left;
  list-style: none;
}
.con li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
  /* text-align: center; */
}
.con li :last-child{
  padding-left: 10px;
}

#fa{
  color: #329E78; font-size: 11px; display: inline-block;  padding: 6px;
}

/* *************dropdown menubar************** */
.navbar {
  padding: 10px !important;
  -webkit-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  -moz-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
}

ul.dropdown-menu {
  width: 17vw;
  border-radius: 0px;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 16px;
  text-decoration: none;
  padding: 0px;
  list-style-type: none;
  -webkit-animation: mymove 0.5s;
  animation: mymove 0.5s;
  background-color: #fff;
  -webkit-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  -moz-box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
  box-shadow: 4px 9px 25px -6px rgba(77, 77, 77, 0.61);
}

li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.dropdown-menu li:hover a {
  color: #ec5626;
}

.dropdown-menu li {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display: block;
}

.dropdown-menu li a {
  color: #444;
  text-decoration: none;
  text-transform: capitalize;
}

@keyframes mymove {
  from {
    left: 100px;
    height: 0px;
    opacity: 0;
    border-bottom: 0px;
  }

  to {
    height: auto;

  }
}

.navbar-nav a.nav-link {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 0px !important;
  font-size: 13px;
}

ul.navbar-nav li.nav-item {
  /* margin: 0 20px; */
  padding-left: 30px;
}

ul.navbar-nav .nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
  width: 100%;
  background: rgb(39, 43, 61);
}

/* ***************dropdown menubar end************** */


#fa-1{
  color: rgba(41, 16, 39, 0.692); font-size: 50px; display: inline-block;  padding: 10px; position: relative; top: 17px;
}
.bg {
  font-family: Arial, sans-serif;
  background: url(service.jpg) no-repeat;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  height: 300px;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: rgb(39, 43, 61);;
  margin: 80px 0;
  padding:20px;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(9, 23, 54, 0.288);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid rgb(48, 13, 80);;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: rgba(18, 121, 86, 0.623);
}
.button:hover {
  background: rgba(30, 224, 160, 0.623);;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: rgba(70, 34, 112, 0.466);
  color: white;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 95%;
  }
  .popup{
    width: 90%;
  }
}
